:root{
    --primary-black:#000000;
    --secondary-black:232931;
    --primary-Orange:#ffa500;
    --secondary-Orange:#f6a596;
    --primary-text-color:#fff;

    --spacing: 1rem;
    --spacing-large:2rem;
    --spacing-small:0.5;

}
h2{
    font-family: 'Raedex Pro',sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: white;
}
label{
    font-family: 'Raedex Pro',sans-serif;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    color: white;
    display:block;
}
ul {
    list-style: none;
    color: white;
}

ul li::before{
    content: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 12em;
    margin-left: -12em;
}
/*@media only screen and(max-width: 1440px) and (min-width: 400px){*/

/*}*/
.view_window {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.Home-img{
    background-color:var(--primary-black);
    width: 240px;
    heigth: 240px;
}
Input[type=text]{
    width: 500px;
    box-sizing: border-box;
    border: var(--secondary-Orange);
    border-radius: 4px;
    font-size: 24px;
    background-color: var(--secondary-Orange);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border: var(--secondary-Orange);
    border: 5px solid var(--secondary-Orange);
}
Input[type=text]:focus{
    width: 100%;
    border: solid var(--secondary-Orange);
}
/*section{*/
/*    background-color: black;*/
/*}*/