.Home-img{
    background-color: var(--primary-black);
    width: 40%;
    height: 240px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.info-add{
    background-color: var(--primary-black);
    width: 85%;
    height: 240px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.circle-field{
    width: 50%;
}
.input-field{
    width:50%;
}

.circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: var(--primary-black);
    position:relative;
}
.circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: white;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
}
.circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: white;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
}
.create-Description{
    background-color: var(--primary-black);
    width: 100%;
    height: 720px;
    justify-content: center;
    text-align: center;
}
.insert-name [type=text]{
    width: 500px;
    box-sizing: border-box;
    border: var(--secondary-Orange);
    border-radius: 4px;
    font-size: 24px;
    background-color: var(--secondary-Orange);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border: var(--secondary-Orange);
    border: 5px solid var(--secondary-Orange);
}
.insert-name [type=text]:focus{
    width: 100%;
    border: solid var(--secondary-Orange);
}
textarea{
    width: 500px;
    box-sizing: border-box;
    border: var(--secondary-Orange);
    border-radius: 4px;
    font-size: 24px;
    background-color: var(--secondary-Orange);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border: var(--secondary-Orange);
    border: 5px solid var(--secondary-Orange);
}
.insert-name [type=text]:focus{
    width: 100%;
    border: solid var(--secondary-Orange);