.info-add{
    width: 1560px;
    height: 240px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.info-add-container{
    align-items: center;
}
.options{
    display:flex;
}
.create_title{
    justify-content: center;
}
.create-new-content-extra{
    background-color: blueviolet;
    display:flex;
    flex-wrap:wrap;
    width:1600px
}
.flex1{
    background-color: green;
    width:50%;
}
.flex2{
    background-color: chartreuse;
    width:50%;

}
.flex3{
    background-color: yellow;
    width:50%;
    height: 100%;
}
.flex4{
    background-color: aqua;
    width: 50%;
    height: 100%;
}

.circle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: var(--secondary-Orange);
    position:relative;
}
.circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: white;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
}
.circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: white;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
}